@for $i from 10 through 30{
    .text-#{$i}{
        font-size: #{$i}px;
        &.need{
            font-size: #{$i}px !important;
        }
    }
}

@each $value in 100 200 300 400 500 600 700 {
    .font-#{$value}{
        font-weight: $value;
        &.need{
            font-weight: #{$value}px !important;
        }
    }
}

.text-muted{
    color: rgba(0, 0, 0, 0.32);
    &.need{
        color: rgba(0, 0, 0, 0.32) !important;
    }
}